body {
	background: skyblue;
	color: black;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	margin: auto;
	text-indent: 1%;
}
.degree {
	font-style:italic;
}
li {
	margin-left: 15px;
}
